# Ignore artifacts:
build
coverage

# Ignore node stuff
**/node_modules/**
**/package-lock.json
**/yarn.lock
.yarn/**

# Other random things
actions/*
.github/workflows/deprecated/*
tests/*
catalog-info.yaml
CHANGELOG.md
versions.json
.trivyignore